*{
    margin: 0px;
    padding: 0px;
    
}



/* https://img.freepik.com/free-photo/smartphone-template-with-business-elements_23-2147986541.jpg?size=626&ext=jpg&ga=GA1.1.1415838535.1681306346&semt=ais */

header{
    background-image: url(https://img.freepik.com/free-photo/top-view-modern-artist-desk-with-watercolor-equipment_23-2148002085.jpg?size=626&ext=jpg&ga=GA1.1.1415838535.1681306346&semt=ais);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.98;
    height: 60vh;
    
}



 .nav-items{
    padding: 1% 2%;
    list-style: none;
    /* text-decoration: none; */
    /* font-size: large;  */
      
  }  

  .align-center{
    text-align: center;
  }

  .nav-items li{
    display: inline;
    padding-top: 2%;
    margin-left: 30px;
   
  }


.nav-items li a{
    
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    font-size: x-large;
    /* margin: 0px 8px 8px 0px; */
    
} 

.nav-items li a:hover{
  border-bottom: 2px solid rgb(202, 200, 200);
  color: rgb(223, 221, 221);
  transition: color 0.7s, border-bottom 0.7s;
  
}   

#Name{
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    font-size:50px;
    font-family: Hind Siliguri;
    margin-bottom: 0px;
}

.social-icons li a{
    padding: 20px;
    margin:1px 0px 0px 0px
}

.social-icons li a:hover{
    padding: 20px;
    margin:1px 0px 0px 0px;
    box-shadow: 0px 0px 6px 4px white;
}

/* image section */

.profileimg {

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
 
}
.profileimg img{

  height: 200px;
width: 200px;
border-radius: 100px;
border: 4px solid white;

}


/* .nav-items {
    flex: 1;
    text-align: center;
    padding-left: 50px; 
    /* margin-top: -182px; */
  /* }
  .nav-items ul li {
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
  }
  .nav-items ul li a {
    text-decoration: none;
    font-size: 36px;
    color: rgb(243, 237, 235);
  }

.nav-items ul li a::after {
    content: "";
    width: 0%;
    background: rgb(250, 248, 249);
    margin: auto;
    height: 2px;
    display: block;
    transition: 1s;
  }
  .nav-items ul li a:hover::after {
    width: 100%;
    color: rgb(255, 255, 255);
  } */ 


